
<h1>Edit</h1>
 
<form method="post" enctype="multipart/form-data">
    <input name="heading" placeholder="Name" required />HEADING 
    <br /><br />
    <textarea style ="height:400px;width:300px"name="content" placeholder="content" required >CONTENT</textarea>
     <input type = "file" name ="file" /> Photo upload
    <button style = "background-color: blue">
        Submit
    </button>
</form>
<button type ="submit" onclick="location.href= 'http://localhost:3000/'">Logut</button>